:root {
   --fuente_heading: 'PT Sans', sans-serif;
   --fuente_parrafos: 'Open sans', sans-serif;
   --primario: #784D3C;
   --blanco: #ffffff;
   --gris: #e1e1e1;
   --negro: #000000;
}

/* Border-box model */
html {
   box-sizing: border-box;
   font-size: 62.5%;
}

*, *:before, *:after {
   box-sizing: inherit;
}
/* End */

body {
   font-family: var(--fuente_parrafos);
   font-size: 1.6rem;
   line-height: 2;
}

/** Globales **/

.contenedor {
   width: min(90%, 120rem); /* permite que el contenido se ajuste a un
                               movil */
   margin: 0 auto;
}

a {
   text-decoration: none;
}

h1, h2, h3, h4 {
   font-family: var(--fuente_heading);
   line-height: 1.2;
}

h1 {
   font-size: 4.8rem;
}

h2 {
   font-size: 4rem;
}

h3 {
   font-size: 3.2rem;
}

h4 {
   font-size: 2.8rem;
}

img {
   max-width: 100%;
}

/** utilidades */

.no_margin {
   margin: 0;
}

.no_padding {
   padding: 0;
}

.centrar-texto {
   text-align: center;
}

/** header **/

.header {
   background-image: url(../img/banner.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center; /* la imagen se va centrando a medida
                                       que cambia de tamaño */
   height: 60rem;
}

.header__texto{
   text-align: center;
   color: var(--blanco);
   margin-top: 5rem;
}

.navegacion__enlace {
   display: block;
   text-align: center;
   font-size: 1.8rem;
   color: var(--blanco);
}

.logo {
   color: var(--blanco);
}

.logo__nombre {
  font-weight: 400;
}
h1.logo__nombre {
   margin-top: 0;
}

.logo__bold {
  font-weight: 700;
}

.entrada {
   border-bottom: 0.1rem solid var(--gris);
   margin-bottom:  2rem; 
}

.entrada:last-of-type {
   border:none;
   margin-bottom: 0;
}

.boton {
   display: block;
   font-family: var(--fuente_heading);
   color: var(--blanco);
   text-align: center;
   padding: 1rem 3rem;
   font-size: 1.8rem;
   text-transform: uppercase;
   font-weight: 700;
   margin-bottom: 2rem;
}

.boton--primario {
   background-color: var(--negro);
}

.boton--secundario {
   background-color: var(--primario);
}

.widget-curso {
   border-bottom: 1px solid var(--gris);
   margin-bottom: 2rem;
}

.widget-curso:last-of-type{
   border:none;
   margin-bottom: 0;
}

.widget-curso__label {
   font-family: var(--fuente_heading);
   font-weight: 700;
}

.widget-curso__info {
   font-family: var(--fuente_heading);
   font-weight: 400;
}

.widget-curso__label, .widget-curso__info {
   font-size: 2rem;
}

.cursos {
   list-style-type: none;
}

.curso {
   border-bottom: 1px solid var(--gris);
   margin-bottom: 2rem;
}

.curso:last-of-type{
   border:none;
   margin-bottom: 0;
}

.curso__label {
   font-family: var(--fuente_heading);
   font-weight: 700;
}

.curso__info {
   font-family: var(--fuente_heading);
   font-weight: 400;
}

.curso__label, .curso__info {
   font-size: 2rem;
}

footer {
   background: rgb(0,0,0);
   padding: 3rem 0;
   margin-top: 4rem;
}

.cursos {
   padding: 3rem 0;
   border-bottom: 1px solid var(--gris);
}

.curso:last-of-type {
   border: none;
}


@media (min-width: 768px) {
   .barra {
       display: flex;
       justify-content: space-between; /* Alinear horizontalmente */
       align-items: center; /* Alinear verticalmente */
      }
   
   .navegacion {
      display:flex;
      gap: 2rem;
   }

   .header__texto {
      margin-top: 15rem;
   }

   .contenido-principal {
      display: grid;
      grid-template-columns: 2fr 1fr;
      column-gap: 4rem;
   }

   .boton {
      display: inline-block;
      
   }
   .sobre--nosotros {
      display:grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2rem;
   }

   .curso {
      display: grid;
      grid-template-columns: 1fr 2fr;
      column-gap: 2rem;
    }

 }

 .nosotros {
   
 }
 

